.twtBtn{
  background-color: #319FFF;
  text-align: center;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  transition: background-color 666ms;
  transition: box-shadow 666ms;
}
.twtBtn:hover{
  background-color: #319FDC;
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
}