.twtBtn {
  background-color: #319fff;
  text-align: center;
  color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  border: 0px;
  transition: background-color 200ms, box-shadow 200ms, padding 200ms,
    padding-right 200ms, padding-left 200ms, font-size 200ms;
}
.twtBtn:hover {
  background-color: #319fdc;
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
  padding: 11px;
  padding-right: 22px;
  padding-left: 22px;
  font-size: 22px;
}
